.App {
  /* border:1px solid hotpink; */
  display:flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
 margin-top: 64px;
}

main{
  /* border:1px solid green; */
  flex-grow:1;
  margin:2em auto;
  padding: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: small;
  text-align: center;
  min-height: 100px;
  padding: 2px;
}

