.App {
  border:1px solid hotpink;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  border:1px solid green;
  flex-grow:1;
  text-align: center;
  padding: 25px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: small;
  text-align: center;
  min-height: 100px;
  padding: 2px;
}

